<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {{#each projects}}
                    <li><a href="/{{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="container-fluid">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row tile_count">
                    <div class="col-md-3 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top">Total Information</span>
                        <div class="count">{{aggregated_metrics.total_info_warnings}}</div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top">Total Warnings</span>
                        <div class="count">{{aggregated_metrics.total_warning_warnings}}</div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top">Total Errors</span>
                        <div class="count">{{aggregated_metrics.total_error_warnings}}</div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top">Total Projects</span>
                        <div class="count">{{aggregated_metrics.project_count}}</div>
                    </div>
                </div>
                <br />
                <div>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Project</th>
                                <th>Total Information</th>
                                <th>Total Warnings</th>
                                <th>Total Errors</th>
                            </tr>
                            {{#each metrics}}
                                <tr>
                                    <td><a href="/{{project}}">{{project}}</a></td>
                                    <td>{{info_warnings}}</td>
                                    <td>{{warning_warnings}}</td>
                                    <td>{{error_warnings}}</td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
